// bower:scss
// endbower
$fa-font-path: "../bower_components/fontawesome/fonts" !default;

@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/fontawesome/scss/font-awesome.scss";

// Custom imports & styles here.

// constants
$main-tone: darken(rgb(44,44,44), 6%);
$primary-text-colour: darken(#fff, 10%);
$highlight-tone-primary: lighten(#DD5C00, 20%);
$highlight-tone-alt-1: adjust-hue($highlight-tone-primary, 0%);
$highlight-tone-alt-2: adjust-hue($highlight-tone-primary, 200%);
$highlight-tone-alt-3: adjust-hue($highlight-tone-primary, 50%);
$highlight-tone-alt-4: adjust-hue($highlight-tone-primary, 100%);



body {
	background: $main-tone;
	color: darken(#fff, 20%);
	-webkit-font-smoothing: antialiased;
	color: #fff;
}

.wrapper {
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: $main-tone;
		height: 70px;
		border-bottom: 1px solid rgb(84,84,84);
		z-index: 999999;
		max-width: 100% !important;

		@include grid-row();

		.script-meta {
			@include grid-column($columns: 4);
			h1 {
				text-align: center;
				color: #fff;
				font-size: 1rem;
				margin: 1.2rem 0;
				color: rgb(120,120,120);
				font-weight: bold;
				border: 1px solid transparent;
				padding: 4px;
				outline: none;

				&:hover {
					color: #fff;
					cursor: pointer;
					border: 1px dashed lighten($main-tone, 20%);
				}

				&.editing {
					color: $highlight-tone-primary;
					border: 1px solid lighten($main-tone, 20%);
				}
			}
		}

		.toolbar {
			@include grid-column($columns: 4);

			a.toolbar-button {
				width: 70px;
				height: 70px;
				background: none;
				display: block;
				text-align: center;
				padding-top: 20px;
				float: right;
				border-left: 1px solid rgb(84,84,84);
				border-right: 1px solid rgb(84,84,84);
				color: rgb(84,84,84);

				&:hover {
					color: #fff;
				}
			}
		}
	}

	// 'HUD' elements (stuff that fades in and out)
	div.hud {
		div.chooser {
			background: darken($main-tone, 5%);
			z-index: 999999;
			border-radius: 3px;
			overflow: hidden;
			// display: none;
			position: fixed;

			transition: all .4s;

			&.from-right {
				right: -200px;
				opacity: 0;

				&.visible {
					right: 50px;
					opacity: 1;
				}
			}

			&.from-left {
				left: -200px;
				opacity: 0;

				&.visible {
					left: 50px;
					opacity: 1;
				}
			}

			ul {
				list-style-type: none;
				margin: 10px 0;
				li {
					margin: 0;
					padding: 10px;

					&.highlight {
						//background: linear-gradient(lighten($highlight-tone, 15%), $highlight-tone);
						font-weight: bold;
						height: 45px;
						font-weight: bold;
						height: 45px;
						//padding-left: 20px;
						transition: padding-left .2s;
					}

					a {
						color: #fff;
					}
				}
			}

			p.help {
				color: rgb(150,150,150);
				padding: 10px;
				border-bottom: 1px solid lighten($main-tone, 20%);
				margin-bottom: 0;
				font-size: 1rem;
				text-align: center;
			}

		}
		div.element-chooser {
			width: 200px;
			bottom: 55px;
			left: 55px;

			ul {
				list-style-type: none;
				li {
					margin: 0;
					padding: 10px;

					a {
						color: #fff;
					}

					&.highlight {
						//background: linear-gradient(lighten($highlight-tone, 15%), $highlight-tone);
						color: $highlight-tone-alt-1;
					}
				}
			}
		}
		div.character-chooser {
			background: darken($main-tone, 5%);
			width: 200px;
			position: fixed;
			bottom: 55px;
			right: 55px;

			ul li.highlight {
				//background: linear-gradient(lighten($highlight-tone-alt, 15%), $highlight-tone-alt);
				color: $highlight-tone-alt-2;
			}
		}
	}

	// the main wrapper of all the pages
	div.pages {
		margin: 70px auto;

		// an individual page
		.page {
			//border: 1px solid rgb(84,84,84);
			border-top: 0;
			//border-bottom: 1px dashed rgb(84,84,84);
			margin: auto;

			$a4-width: 595px;
			$a4-height: 842px;

			$font-size: 12px;

			$page-scale: 1.5;
			$one-inch: ($a4-width / 8) * $page-scale;

			padding: $one-inch * .9 $one-inch * 1.5;

			width: $a4-width * $page-scale;
			height: $a4-height * $page-scale;

			meta.maximum-inner-height {
				height: ($a4-height * $page-scale) - 2 * ($one-inch * .9);
			}

			// elements
			&, p {
				font-size: $font-size * $page-scale;
				font-family: Courier, monospace;
				line-height: 200%;
				outline: none;
				color: $primary-text-colour;
			}

			p {
				margin: 0;
				margin-bottom: $one-inch / 6;
				text-align: left;
				position: relative;

				&:after {
					content: attr(data-ghost-text);
					position: absolute;
					opacity: .5;
					left: 0;
					display: none;
				}

				// autocorrect stuff
				span.marwood-inline {
					cursor: pointer;
					&.autocorrect {
						border-bottom: 1px dotted $highlight-tone-alt-2;
						padding-bottom: 3px;
					}
				}
			}

			p.ghost {
				// ghost elements are used for autocomplete
				opacity: .5;
			}

			p.scene-heading, p.scene-heading:after {
				font-weight: bold !important;
				//border-bottom: (1px * $page-scale) solid $primary-text-colour !important;
				//padding-bottom: $one-inch / 6 !important;
				text-transform: uppercase;
			}

			p.action, p.action:after {
				padding-left: 0 * $one-inch !important;
				padding-right: 0 * $one-inch !important;
			}

			p.character, p.character:after {
				font-weight: bold !important;
				padding-left: 2 * $one-inch !important;
				padding-right: 0 * $one-inch !important;
				margin-bottom: 0 !important;
				text-transform: uppercase;
			}

			p.dialogue, p.dialogue:after {
				padding-left: 1 * $one-inch !important;
				padding-right: 1 * $one-inch !important;
			}

			p.parenthetical, p.parenthetical:after {
				padding-left: 1.5 * $one-inch !important;
				padding-right: 0 * $one-inch !important;
				margin-bottom: 0;
			}

			p.transition, p.transition:after {
				// right padding might be slightly off vs Final Draft
				text-align: right;
				left: auto;
				right: 0;
			}

			p.shot, p.shot:after {
				text-transform: uppercase;
			}
		}
	}
}
